:root {
  --color-principal: #6C63FF;
  --color-fondo: #0f172a;
  --color-texto: #f1f5f9;
  --color-card: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: 'Poppins', sans-serif;
}

header {
  text-align: center;
  padding: 100px 20px;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-bottom: 20px;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skills li {
  list-style: none;
  background: var(--color-card);
  padding: 10px 15px;
  border-radius: 8px;
}

.contenedor-proyectos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.proyecto {
  background: var(--color-card);
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.proyecto:hover {
  transform: translateY(-5px);
}

.btn {
  display: inline-block;
  margin-top: 10px;
  background: var(--color-principal);
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
}